<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <targets>
    <target name="logfile" xsi:type="AsyncWrapper">
      <target
          name = "logfile"
          xsi:type="File" 
          layout="${longdate} | ${threadid} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"
          fileName="${specialfolder:folder=LocalApplicationData}/TestStepsEditor/Log.txt"
          archiveFileName="${specialfolder:folder=LocalApplicationData}/TestStepsEditor/Log.{##}.txt"
          archiveAboveSize="10240"
          archiveNumbering="Rolling"
          maxArchiveFiles="10" />
    </target>
    <target name="debugger" xsi:type="Debugger" />
  </targets>

  <rules>
    <logger name="*" minLevel="Debug" writeTo="debugger" />
    <!--<logger name="*" minLevel="Info" writeTo="memory"/>-->
    <logger name="*" minLevel="Info" writeTo="logfile"/>
  </rules>

</nlog>